/*
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
#grid-container {
    max-width: 90%;
    margin: auto;
}
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #e0f2e9; /* Light green background */
    color: #064e3b; /* Dark green text */
}
#grid-container {
    max-width: 90%;
    margin: auto;
}
h2 {
    text-align: center;
    color: #064e3b;
}
.gridjs-table {
    border: 2px solid #064e3b !important;
}
.gridjs-th {
    background-color: #88c093 !important; /* Green headers */
    color: white !important;
    text-align: left;
}
.gridjs-td {
    border-bottom: 1px solid #a1d6af !important; /* Soft green border */
    padding: 8px;
}